body {
    background-color: aquamarine;
    display: flex;
    justify-content: center;

}


.classone {
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 2rem;

}

.divclass {
    margin: 3rem;
    border-radius: 2rem;
    padding: 2rem;
    background-color: blue;
    color: whitesmoke;
}

.left {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}